@use './base.scss';

@import './components/generalStyling';
@import './components/text';
@import './components/backgroundColors';
@import './components/borders';
@import './components/inputs';
@import './components/tinymce';
