$text-main: rgb(9, 9, 9);
$text-third: rgb(110, 110, 110);
$text-disabled: rgb(124, 124, 124);

$gray-100: rgb(215, 215, 215);
$gray-200: rgb(198, 198, 198);
$gray-900: rgb(18, 25, 29);

$blue-100: rgb(228, 236, 247);
$blue-200: rgb(212, 222, 236);

$green-100: rgb(228, 248, 234);

$red-100: rgb(248, 228, 228);

$yellow-100: rgb(248, 247, 228);

$el-white-main: rgb(217, 217, 217);
$el-error-red: rgb(236, 20, 20);

$el-inactive-gray: rgb(63, 63, 63);
$el-border-gray: rgb(50, 50, 50);
$el-border-gray-focus: rgb(23, 23, 23);

// $bg-main: rgb(21, 21, 21);
$bg-main: rgb(240, 240, 240);
// $bg-main: rgb(223, 226, 238);
$bg-main-90: rgba(225, 236, 244, 0.9);
$bg-main-40: rgba(89, 89, 89, 0.4);
$bg-main-20: rgba(89, 89, 89, 0.2);
$bg-secondary: rgb(21, 21, 21);
$bg-secondary-90: rgb(21, 21, 21, 0.9);
$bg-third: rgb(15, 15, 15);
$bg-gray: rgb(25, 25, 25);
$bg-light-gray: rgb(120, 120, 120);
$sky-disabled: rgb(172, 172, 172);

$sky-green: rgb(46, 161, 81);

$sky-white: rgb(248, 248, 248);
// $sky-white: rgb(227, 232, 240);
$sky-white-60: rgba(225, 225, 225, 0.671);
$sky-gray: rgb(35, 35, 35);
$sky-gray-matte: rgb(10, 10, 10);
$sky-blue: rgb(50, 71, 209);
$sky-purple: rgb(92, 60, 207);
$sky-light-purple: rgb(116, 81, 242);
$sky-light-blue: rgb(68, 121, 235);
$sky-ultra-light-blue: rgb(117, 155, 238);
$sky-pink: rgb(247, 0, 168);
$sky-orange: rgb(255, 128, 0);
$sky-yellow: rgb(164, 123, 11);

$success-green: #27bd0f;

$warning-orange: #f1550d;

$error-red-full: #ec1717;
$error-red-full-30: #ec17173d;

$text-main: rgb(9, 9, 9);
$text-third: rgb(110, 110, 110);
$text-disabled: rgb(124, 124, 124);

$el-white-main: rgb(217, 217, 217);
$el-error-red: rgb(227, 28, 28);

$el-inactive-gray: rgb(63, 63, 63);
$el-border-gray: rgb(50, 50, 50);
$el-border-gray-focus: rgb(23, 23, 23);
